{% extends 'front/master/layout.html' %}
{% load static %}

{% block title %}
  {{'محصول'}}
{% endblock %}


{% block content %}
  <!-- section picture & sharing button and cart-->
  <section class="container bg-white p-4  rtl ">
    <div class="row">
      <!-- images and sharing media -->
        <div class="col-sm-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <img class="share-icon pt-5" src="./assets/images/flaticon/share.png" alt="">
              </div>
              <div class="col-10">
                <img src="./assets/images/test.jpg" class="width100" />
              </div>
            </div>
          </div>
        </div>
        <!-- details -->
        <div class="col-sm-4 rtl">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <!-- title -->
                  <h6>
                    لوسیون بدن
                  </h6>
                </div>
                <!-- brand  -->
                <div class="col-6 pt-3">
                  <span>
                    برند
                  </span>
                  <a class="dana-regular a-underscore" href="#">
                    آردن
                  </a>
                </div>
                <!-- category -->
                <div class="col-6 pt-3">
                  <span>
                    دسته بندی
                  </span>
                  <a class="dana-regular a-underscore" href="#">
                    آرایشی
                  </a>
                </div>
                <!-- details -->
                <div class="col-12 pt-5">
                  <ul class="navbar-nav  rtl product-small-detail ">
                    <li class="nav-item h5 text-dark">
                        ویژگیها
                        :
                    </li>
                    <li class="nav-item ">
                        برای پوست چرب مثلا خیلی خوبه
                    </li>
                    <li class="nav-item ">
                        برای پوست چرب مثلا خیلی خوبه
                    </li>
                    <li class="nav-item ">
                        برای پوست چرب مثلا خیلی خوبه
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <!-- cart options -->
        <div class="col-sm-4 bg-sec-color pt-5 pb-5 ">
          <div class="container-fluid"
            <div class="row">
              <div class="col-12 pb-3 ">
                  <img class="product-icon " src="./assets/images/flaticon/guarantee.png" alt="">
                  <span >گارانتی اصالت و سلامت فیزیکی کالا</span>
              </div>
              <div class="col-12 pb-3">
                  <img class="product-icon " src="./assets/images/flaticon/exchange.png" alt="">
                  <span >ضمانت و گارانتی قیمت</span>
              </div>
              <div class="col-12 pb-3">
                  <img class="product-icon " src="./assets/images/flaticon/delivery-truck.png" alt="">
                  <span >ارسال رایگان با خرید بالای 150 هزارتومان</span>
              </div>
              <div class="col-12 pb-3">
                  <img class="product-icon " src="./assets/images/flaticon/money.png" alt="">
                  <span >پرداخت امن از تمام کارتهای عضو شتاب</span>
              </div>
              <div class="col-12 pb-3 text-center h5">
                  <span>
                    قیمت مصرف کننده
                    :
                  </span>
                  <span class="text-danger BYekan" >18000 تومان</span>
              </div>
              <div class="btn-group col-12 bg-success "  >
                  <a class="btn ">
                      <img class="product-addcart-icon" src="./assets/images/flaticon/shopping-cart.png" alt="">
                  </a>
                  <a style="margin:auto;" class="btn  col-12 text-center text-light dana-bold">
                      افزودن به سبد خرید
                  </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- section picture & sharing button and cart -->

  <!-- brand information box -->
  <section class="container bg-white mt-5 rtl">
    <div class="row">
      <div class="col-12 p-5">
        <h5>
          <img class="review-menu-icon" src="./assets/images/flaticon/info.png" alt="">
          درباره برند
        <hr style="border:1px solid gray" />
        </h5>
        <div class="p-5">
          لابراتوار نوروا یک برند لوازم آرایشی و درمانی است که در سال 1991 درپاریس شروع به کار کرد.حالا با بیش از 20 سال تجربه و کار مداوم نوروا یکی از پیشتازان صنعت درماتولوژی می باشد. فعالیت نوروا به عنوان پیشتاز در زمینه تولید محصولات درماتولوژی انتظارات پزشکان، داروسازان و درماتولوژیست ها را براورده کرده و محصولات درمانی این شرکت طرفداران بسیار زیادی را برای آنها به ارمغان آورده است. اکتی پور یکی از موفق ترین خط تولید های نوروا بوده که با داشتن محصولاتی برای کنترل چربی و از بین بردن جوش و آکنه از سردمداران بازارهای جهانی شده است.
        </div>
      </div>
    </div>
  </section>

  <!-- brand information box -->

  <!-- product like this -->
  <section class="container pb-1 pt-5 pb-5 rtl ">
    <div class="row">
      <strong class=" pt-3">
          محصولات مرتبط
          <hr width="150px" style="border:1px solid red"/>
      </strong>
      <div class="owl-carousel owl-theme">

              <div class="item">
                      <div class="card">

                          <a class="text-dark" href="">
                              <img src="./assets/images/test.jpg" style="height:250px;width:100%;" />
                          </a>
                      </div>

                          <div class="card-footer  bg-white text-center lunaria-hover-footer" style="height:150px;">
                                  <div>
                                      <a class="text-dark" href="">
                                          لاک گلدن رز مدل EXPERT شماره 08
                                      </a>
                                      <div class="col-12 ">
                                          <p class="text-center BYekan" style="font-size:20px;">
                                              180,000
                                          </p>
                                      </div>
                                      <div style="float:right">
                                          <span class="fa fa-star text-warning"></span>
                                          <span class="fa fa-star text-warning"></span>
                                          <span class="fa fa-star text-warning"></span>
                                          <span class="fa fa-star text-warning"></span>
                                          <span class="fa fa-star text-warning"></span>
                                      </div>
                                      <div style="float:left">
                                          <a href="">
                                              <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                                          </a>
                                      </div>

                                  </div>

                          </div>

                  </div>


              </div>

    </div>
  </section>
  <!-- product like this -->
  <!-- review and comment -->
  <section class="container rtl bg-white product-review">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">
          <img class="review-menu-icon" src="./assets/images/flaticon/glasses.png" alt="">
          توضیحات کالا
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">
          <img class="review-menu-icon" src="./assets/images/flaticon/brochure.png" alt="">
          نحوه استفاده
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">
          <img class="review-menu-icon" src="./assets/images/flaticon/comments.png" alt="">
          نظرات کاربران
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content pt-5 pb-5 mb-5">
    <div id="home" class="container tab-pane active"><br>
      <h6>
          توضیح در مورد لوسیون بدن
      </h6>
      <p>
          متن ساختگی برای تست متن ساختگی برای تست متن ساختگی برای تست
      </p>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <h6>
          نحوه استفاده لوسیون بدن
      </h6>
      <p>

      </p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h6>لطفا نظر خود را با بقیه به اشتراک بگذارید</h6>
      <div class="container-fluid pt-5">
        <div class="row">

          <div class="col-sm-2">
              <img class="comment-avatar" src="./assets/images/girl.png" alt="">
              <div class="p-2">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
              </div>

          </div>
          <div class="col-sm-10">
              <strong>
                نظرم در مورد این محصول
              </strong>
              <p>
                  لورم ایپسوم لورم ایپسوم لورم ایپسوم لوزم ایپسوم لورم ایپسوم
                  لورم ایپسوم لورم ایپسوم لورم ایپسوم لوزم ایپسوم لورم ایپسوم
                  لورم ایپسوم لورم ایپسوم لورم ایپسوم لوزم ایپسوم لورم ایپسوم
                  لورم ایپسوم لورم ایپسوم لورم ایپسوم لوزم ایپسوم لورم ایپسوم
              </p>
          </div>
          <div class="col-sm-12" style="font-size:14px;float:right" class="text-secondary BYekan" >
              <div class="p-1">
                <span class="lunaria-text-dark">
                  ارسال شده در تاریخ
                  :
                </span>
                <span>
                  سوم خرداد 98
                </span>
              </div>
              <div class="pt-1">
                <span class="lunaria-text-dark">توسط:</span>
                <span>
                  فلانی فلان نژاد
                </span>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
