<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fa">  <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
    <link rel="icon" type="image/png" href="./assets/images/moon.png">
    <title>فروشگاه</title>

    <!-- Latest compiled and minified CSS -->


    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">
    <link href="./assets/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="./assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="./assets/css/fontawsome-all.css" rel="stylesheet">
     <!--swtch button-->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="bg-sec-color">

        <nav class="navbar navbar-expand-sm rtl bg-white container-fluid sticky-top clearHeader" >

            <!-- Brand/logo -->
            <a class="navbar-brand d-none d-sm-block" href="#">
                <img src="assets/images/moon.png" style="width:70px;"/>
                <span class="text-warning dana-bold h4">
                    لوناریا
                </span>
            </a>

                <form  action="/action_page.php">
                    <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar ">
                            <i class="fas fa-search " style="color:gray"></i>
                            <input class="search_input" type="text" name="" placeholder="اسم محصول،برند یا دسته بندی را جستجو کنید">
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item d-none d-md-block ">
                        <a class="nav-link text-dark dana-regular" style="border:1px solid #e0e0e2;" href="#">
                         <img src="./assets/images/woman.png" style="width:25px;margin-left:10px;" />
                        <span style="font-size:16px;">
                            ورود به حساب کاربری
                        </span>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block ">
                        <a class="nav-link text-dark" data-toggle="modal" data-target="#exampleModal1">
                             <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                        </a>
                    </li>
                </ul>

        </nav>

        <nav class="navbar navbar-expand-sm  rtl  navbar-sm bg-white ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="true" aria-label="Toggle navigation">
                <span class="fa fa-bars text-dark "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
            <!-- Links -->
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link text-dark dana-regular text-center" href="#">محصولات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark dana-regular text-center" href="#">تخفیفات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark dana-regular text-center" href="#">محبوبترینها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark dana-regular text-center" href="#">مشاوره خرید</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark dana-regular text-center d-md-none" href="#">
                            <img src="./assets/images/woman.png" style="width:25px;margin-left:10px;" />
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark dana-regular text-center d-md-none" href="#">
                            <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                         </a>
                    </li>
                </ul>
            </div>
        </nav>
				<!-- Path -->
		      <ul class="navbar-nav navbar-expand-sm rtl path-nav  p-3">
		        <li class="nav-item ">
		            شما اینجایید
		            :
		        </li>
		        <li class="nav-item ">
		          <a href="#">
		            فروشگاه اینترنتی لوناریا

		          </a>
							  /
		        </li>
		        <li class="nav-item">
		          <a href="#">
		          فروشگاه

		          </a>

		        </li>

		      </ul>
		    <!-- END Path -->
    <!-- End Navigation -->

        <div class="container bg-white mb-5 ">
            <div class="row">
                <!--main content-->
                <div class="col-sm-9 p-5  ">
                    <div class="container-fluid">
                        <div class="row">
                                    <div class="col-4 card-brand p-2">
                                        <img class="width100 mb-4" src="./assets/images/test.jpg"  />
                                        <p class="text-center ">
                                            لوسیون بدن
                                        </p>
                                        <div class="col-12">
                                            <p class="text-center" style="font-size:20px;">
                                                180,000
                                            </p>
                                        </div>
                                        <div style="float:right">
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                        </div>
                                        <div style="float:left">
                                            <a href="">
                                                <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4 card-brand p-2">
                                        <img class="width100 mb-4" src="./assets/images/test.jpg"  />
                                        <p class="text-center ">
                                            لوسیون بدن
                                        </p>
                                        <div class="col-12">
                                            <p class="text-center" style="font-size:20px;">
                                                180,000
                                            </p>
                                        </div>
                                        <div style="float:right">
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                        </div>
                                        <div style="float:left">
                                            <a href="">
                                                <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4 card-brand p-2">
                                        <img class="width100 mb-4" src="./assets/images/test.jpg"  />
                                        <p class="text-center ">
                                            لوسیون بدن
                                        </p>
                                        <div class="col-12">
                                            <p class="text-center" style="font-size:20px;">
                                                180,000
                                            </p>
                                        </div>
                                        <div style="float:right">
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                        </div>
                                        <div style="float:left">
                                            <a href="">
                                                <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4 card-brand p-2">
                                        <img class="width100 mb-4" src="./assets/images/test.jpg"  />
                                        <p class="text-center ">
                                            لوسیون بدن
                                        </p>
                                        <div class="col-12">
                                            <p class="text-center" style="font-size:20px;">
                                                180,000
                                            </p>
                                        </div>
                                        <div style="float:right">
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                        </div>
                                        <div style="float:left">
                                            <a href="">
                                                <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4 card-brand p-2">
                                        <img class="width100 mb-4" src="./assets/images/test.jpg"  />
                                        <p class="text-center ">
                                            لوسیون بدن
                                        </p>
                                        <div class="col-12">
                                            <p class="text-center" style="font-size:20px;">
                                                180,000
                                            </p>
                                        </div>
                                        <div style="float:right">
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                        </div>
                                        <div style="float:left">
                                            <a href="">
                                                <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4 card-brand p-2">
                                        <img class="width100 mb-4" src="./assets/images/test.jpg"  />
                                        <p class="text-center ">
                                            لوسیون بدن
                                        </p>
                                        <div class="col-12">
                                            <p class="text-center" style="font-size:20px;">
                                                180,000
                                            </p>
                                        </div>
                                        <div style="float:right">
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                            <span class="fa fa-star text-warning"></span>
                                        </div>
                                        <div style="float:left">
                                            <a href="">
                                                <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                                            </a>
                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
                <!--END main content-->
                <!--Aside-->

                <aside class="col-sm-3 pt-5 pb-5 bg-white ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 ">
                                    <select class="form-control text-dark width100 rtl ">
                                        <option >تاریخ</option>
                                        <option >محبوب</option>
                                        <option >پرفروش</option>
                                    </select>
                                </div>
                                <div class="col-12 pt-3">
                                    <span class="switch">

                                          <nav class="accordion arrows">
                                                <header class="box">
                                                    <div class="container-fluid pt-3">
                                                        <div class="row">
                                                            <span class="col-9 pt-2" >
	                                                              فقط محصولات موجود
                                                            </span>
                                                            <input  class="col-3" type="checkbox"
                                                            data-onstyle="outline-success" data-offstyle="outline-danger"
                                                            checked data-toggle="toggle" data-style="slow">
                                                        </div>
                                                    </div>
                                                </header>
                                                <input class="brand-section" type="radio" name="accordion" id="cb1" />
                                                <section class="box">
                                                    <label class="box-title" for="cb1">برند</label>
                                                    <label class="box-close" for="acc-close"></label>
                                                    <div class="box-content">
                                                        <div class="container-fluid">
                                                            <div class="row">

                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <input class="brand-section" type="radio" name="accordion" id="cb2" />
                                                <section class="box">
                                                    <label class="box-title" for="cb2">قیمت</label>
                                                    <label class="box-close" for="acc-close"></label>
                                                    <div class="box-content">
                                                        <div class="slidecontainer">
                                                            <input type="range" min="10000" max="500000" value="50" class="slider" id="myRange">
                                                            <p>مبلغ: <span id="demo"></span></p>
                                                        </div>
                                                    </div>
                                                </section>
                                                <input class="brand-section" type="radio" name="accordion" id="cb3" />
                                                <section class="box">
                                                    <label class="box-title" for="cb3">
                                                        دسته بندی
                                                    </label>
                                                    <label class="box-close" for="acc-close"></label>
                                                    <div class="box-content">
                                                        <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>
                                                                        آردن
                                                                    </label>
                                                                    <input type="checkbox" class="" />
                                                                </div>
                                                    </div>
                                                </section>

                                                <input class="brand-section" type="radio" name="accordion" id="acc-close" />
                                        </nav>
                                </div>


                                <div class="col-12 pt-3">
                                    <div class="bg-white pb-3 article-item mb-2">
                                        <img class="width100" src="./assets/images/test6.jpg"  />
                                        <h5 class="rtl text-center pt-2">
                                            محصولات پریم
                                        <h5>
                                        <h6 class="rtl lunaria-text-dark text-center">
                                            مراقبت پوست و مو
                                        <h6>

                                    </div>
                                    <div class="bg-white pb-3 article-item mb-2">
                                        <img class="width100" src="./assets/images/test6.jpg"  />
                                        <h5 class="rtl text-center pt-2">
                                            محصولات پریم
                                        <h5>
                                        <h6 class="rtl lunaria-text-dark text-center">
                                            مراقبت پوست و مو
                                        <h6>

                                    </div>


                                </div>

                            </div>
                        </div>
                </aside>
                <!--END Aside-->
            </div>
        </div>

    <!--Footer-->
        <section class="container-fluid p-5 bg-dark rtl ">
            <div class="row">
                <!--first col-->
                    <div class="col-sm-4">
                        <div class="container-fluid">
                            <div class="row">
                                <!--abour lunaria-->
                                <div class="col-12">
                                    <h6 class="text-light">
                                        درباره لوناریا
                                    </h6>
                                    <p class="text-light">
                                    این یک متن ساختگی ست این یک متن ساختگی ست این یک متن ساختگی ست این یک متن ساختگی ست این یک متن ساختگی ست
                                    </p>
                                </div>
                                <!--email-->
                                <div class="col-12 pt-5">
                                    <h6 class="text-light pt-5 pb-2">
                                        دریافت لیست تخفیفات هفتگی
                                    </h6>
                                    <form class="form-group input-group">
                                        <input type="email" class="col-10 text-left" placeholder="example@gmail.com" />
                                        <button type="submit" class="btn lunaria-dark text-light">
                                            <i class="far fa-envelope "></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--second col-->
                    <div class="col-sm-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 text-light text-center pb-3">
                                    <h5>
                                        راهنمای خرید از فروشگاه اینترنتی لوناریا
                                    </h5>

                                </div>
                                <div class="col-12 text-left">
                                       <div class="container-fluid">
                                            <div class="row">
                                               <a href="" class="text-light dana-regular col-12">
                                                    کالا در چه بازه زمانی و چطور ارسال میشود؟
                                               </a>
                                               <a href="" class="text-light dana-regular col-12">
                                                    کالا در چه بازه زمانی و چطور ارسال میشود؟
                                               </a>
                                               <a href="" class="text-light dana-regular col-12">
                                                    کالا در چه بازه زمانی و چطور ارسال میشود؟
                                               </a>
                                               <a href="" class="text-light dana-regular col-12">
                                                    کالا در چه بازه زمانی و چطور ارسال میشود؟
                                               </a>
                                               <a href="" class="text-light dana-regular col-12">
                                                    کالا در چه بازه زمانی و چطور ارسال میشود؟
                                               </a>
                                            </div>
                                            <div class="row pt-5">
                                                <div class="col-3">
                                                    <img src="./assets/images/footer/makeup.png" class="width100" />
                                                    <br />
                                                    <a href="" class="text-light">
                                                        محصولات
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <img src="./assets/images/footer/beauty-treatment.png" class="width100" />
                                                    <br />
                                                    <a href="" class="text-light">
                                                        مشاوره رایگان
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <img src="./assets/images/footer/online-shop.png" class="width100" />
                                                    <br />
                                                    <a href="" class="text-light">
                                                        تخفیفات
                                                    </a>
                                                </div>
                                                <div class="col-3">
                                                    <img src="./assets/images/footer/lipstick.png" class="width100" />
                                                    <br />
                                                    <a href="" class="text-light">
                                                        محبوبها
                                                    </a>
                                                </div>
                                            </div>
                                       </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--third col-->
                    <div class="col-sm-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 ">
                                    <div class="btn-group  " style="width:200px;background-color:#0088cc;">
                                        <a style="margin:auto;" class="btn col-12 text-center text-light dana-bold ">
                                        تلگرام
                                        </a>
                                        <a class="btn">
                                            <i class="fab fa-telegram-plane text-light fa-3x"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group " style="width:200px;background-color:#bd081c">
                                        <a class="btn ">
                                            <i class="fab fa-instagram text-light fa-3x"></i>
                                        </a>
                                        <a style="margin:auto;" class="btn  col-12 text-center text-light dana-bold">
                                            اینستاگرام
                                        </a>
                                    </div>
                                </div>
                                <!--second col-->
                                <div class="col-12 p-3">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6">
                                                <img class="width100" style="height:180px;" src="./assets/images/e-nemad.jpg" />
                                            </div>
                                            <div class="col-6">
                                                <img class="width100" style="height:180px;" src="./assets/images/zarinpal.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <div class="container-fluid bg-dark rtl">
            <div class="text-center text-light">
                    کلیه حقوق مادی و معنوی محتوای وبسایت طبق قوانین جمهوری اسلامی ایران برای فروشگاه اینترنتی لوناریا محفوظ است.
            </div>
        </div>
      <!--END Footer-->


	<!-- START JAVASCRIPT -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!--FOntAwsome-->
     <script src="./assets/js/fontawsome-all.js"></script>
     <!--switch button-->
     <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>

    <!--brand search js-->
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }
                }
            }
        </script>
         <!--price slider-->
        <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function() {
            output.innerHTML = this.value;
            }
        </script>


</body>
</html>
