{% extends 'front/master/layout.html' %}
{% load static %}

{% block title %}
  {{'فروشگاه'}}
{% endblock %}

{% block content %}
<div class="container bg-white mb-5 ">
    <div class="row">
        <!--main content-->
        <div class="col-sm-9 p-5  ">
            <div class="container-fluid">
                <div class="row">
                            <div class="col-4 card-brand p-2">
                                <img class="width100 mb-4" src="{% static 'front/images/test.jpg' %}"  />
                                <p class="text-center ">
                                    لوسیون بدن
                                </p>
                                <div class="col-12">
                                    <p class="text-center" style="font-size:20px;">
                                        180,000
                                    </p>
                                </div>
                                <div style="float:right">
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                </div>
                                <div style="float:left">
                                    <a href="">
                                        <img src="{% static 'front/images/cart.png' %}" style="width:25px;margin-left:10px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 card-brand p-2">
                                <img class="width100 mb-4" src="{% static 'front/images/test.jpg' %}"  />
                                <p class="text-center ">
                                    لوسیون بدن
                                </p>
                                <div class="col-12">
                                    <p class="text-center" style="font-size:20px;">
                                        180,000
                                    </p>
                                </div>
                                <div style="float:right">
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                </div>
                                <div style="float:left">
                                    <a href="">
                                        <img src="{% static 'front/images/cart.png' %}" style="width:25px;margin-left:10px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 card-brand p-2">
                                <img class="width100 mb-4" src="{% static 'front/images/test.jpg' %}"  />
                                <p class="text-center ">
                                    لوسیون بدن
                                </p>
                                <div class="col-12">
                                    <p class="text-center" style="font-size:20px;">
                                        180,000
                                    </p>
                                </div>
                                <div style="float:right">
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                </div>
                                <div style="float:left">
                                    <a href="">
                                        <img src="{% static 'front/images/cart.png' %}" style="width:25px;margin-left:10px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 card-brand p-2">
                                <img class="width100 mb-4" src="{% static 'front/images/test.jpg' %}"  />
                                <p class="text-center ">
                                    لوسیون بدن
                                </p>
                                <div class="col-12">
                                    <p class="text-center" style="font-size:20px;">
                                        180,000
                                    </p>
                                </div>
                                <div style="float:right">
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                </div>
                                <div style="float:left">
                                    <a href="">
                                        <img src="{% static 'front/images/cart.png' %}" style="width:25px;margin-left:10px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 card-brand p-2">
                                <img class="width100 mb-4" src="{% static 'front/images/test.jpg' %}"  />
                                <p class="text-center ">
                                    لوسیون بدن
                                </p>
                                <div class="col-12">
                                    <p class="text-center" style="font-size:20px;">
                                        180,000
                                    </p>
                                </div>
                                <div style="float:right">
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                </div>
                                <div style="float:left">
                                    <a href="">
                                        <img src="{% static 'front/images/cart.png' %}" style="width:25px;margin-left:10px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 card-brand p-2">
                                <img class="width100 mb-4" src="{% static 'front/images/test.jpg' %}"  />
                                <p class="text-center ">
                                    لوسیون بدن
                                </p>
                                <div class="col-12">
                                    <p class="text-center" style="font-size:20px;">
                                        180,000
                                    </p>
                                </div>
                                <div style="float:right">
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                    <span class="fa fa-star text-warning"></span>
                                </div>
                                <div style="float:left">
                                    <a href="">
                                        <img src="{% static 'front/images/cart.png' %}" style="width:25px;margin-left:10px;" />
                                    </a>
                                </div>
                            </div>

                </div>
            </div>
        </div>
        <!--END main content-->
        <!--Aside-->

        <aside class="col-sm-3 pt-5 pb-5 bg-white ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 ">
                            <select class="form-control text-dark width100 rtl ">
                                <option >تاریخ</option>
                                <option >محبوب</option>
                                <option >پرفروش</option>
                            </select>
                        </div>
                        <div class="col-12 pt-3">
                            <span class="switch">

                                    <nav class="accordion arrows">
                                        <header class="box">
                                            <div class="container-fluid pt-3">
                                                <div class="row">
                                                    <span class="col-9 pt-2" >
                                                            فقط محصولات موجود
                                                    </span>
                                                    <input  class="col-3" type="checkbox"
                                                    data-onstyle="outline-success" data-offstyle="outline-danger"
                                                    checked data-toggle="toggle" data-style="slow">
                                                </div>
                                            </div>
                                        </header>
                                        <input class="brand-section" type="radio" name="accordion" id="cb1" />
                                        <section class="box">
                                            <label class="box-title" for="cb1">برند</label>
                                            <label class="box-close" for="acc-close"></label>
                                            <div class="box-content">
                                                <div class="container-fluid">
                                                    <div class="row">

                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <input class="brand-section" type="radio" name="accordion" id="cb2" />
                                        <section class="box">
                                            <label class="box-title" for="cb2">قیمت</label>
                                            <label class="box-close" for="acc-close"></label>
                                            <div class="box-content">
                                                <div class="slidecontainer">
                                                    <input type="range" min="10000" max="500000" value="50" class="slider" id="myRange">
                                                    <p>مبلغ: <span id="demo"></span></p>
                                                </div>
                                            </div>
                                        </section>
                                        <input class="brand-section" type="radio" name="accordion" id="cb3" />
                                        <section class="box">
                                            <label class="box-title" for="cb3">
                                                دسته بندی
                                            </label>
                                            <label class="box-close" for="acc-close"></label>
                                            <div class="box-content">
                                                <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                                        <div class="col-12">
                                                            <label>
                                                                آردن
                                                            </label>
                                                            <input type="checkbox" class="" />
                                                        </div>
                                            </div>
                                        </section>

                                        <input class="brand-section" type="radio" name="accordion" id="acc-close" />
                                </nav>
                        </div>


                        <div class="col-12 pt-3">
                            <div class="bg-white pb-3 article-item mb-2">
                                <img class="width100" src="./assets/images/test6.jpg"  />
                                <h5 class="rtl text-center pt-2">
                                    محصولات پریم
                                <h5>
                                <h6 class="rtl lunaria-text-dark text-center">
                                    مراقبت پوست و مو
                                <h6>

                            </div>
                            <div class="bg-white pb-3 article-item mb-2">
                                <img class="width100" src="./assets/images/test6.jpg"  />
                                <h5 class="rtl text-center pt-2">
                                    محصولات پریم
                                <h5>
                                <h6 class="rtl lunaria-text-dark text-center">
                                    مراقبت پوست و مو
                                <h6>

                            </div>


                        </div>

                    </div>
                </div>
        </aside>
        <!--END Aside-->
    </div>
</div>

{% endblock %}

{% block scripts %}
     <!--brand search js-->
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }
                }
            }
        </script>
         <!--price slider-->
        <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function() {
            output.innerHTML = this.value;
            }
        </script>
{% endblock %}

   