  <!--Footer-->
  <section class="container-fluid p-5 bg-dark rtl ">
    <div class="row">
        <!--first col-->
            <div class="col-sm-4">
                <div class="container-fluid">
                    <div class="row">
                        <!--abour lunaria-->
                        <div class="col-12">
                            <h6 class="text-light">
                                درباره لوناریا
                            </h6>
                            <p class="text-light">
                            این یک متن ساختگی ست این یک متن ساختگی ست این یک متن ساختگی ست این یک متن ساختگی ست این یک متن ساختگی ست
                            </p>
                        </div>
                        <!--email-->
                        <div class="col-12 pt-5">
                            <h6 class="text-light pt-5 pb-2">
                                دریافت لیست تخفیفات هفتگی
                            </h6>
                            <form class="form-group input-group">
                                <input type="email" class="col-10 text-left" placeholder="example@gmail.com" />
                                <button type="submit" class="btn lunaria-dark text-light">
                                    <i class="far fa-envelope "></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!--second col-->
            <div class="col-sm-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-light text-center pb-3">
                            <h5>
                                راهنمای خرید از فروشگاه اینترنتی لوناریا
                            </h5>

                        </div>
                        <div class="col-12 text-left">
                               <div class="container-fluid">
                                    <div class="row">
                                       <a href="" class="text-light dana-regular col-12">
                                            کالا در چه بازه زمانی و چطور ارسال میشود؟
                                       </a>
                                       <a href="" class="text-light dana-regular col-12">
                                            کالا در چه بازه زمانی و چطور ارسال میشود؟
                                       </a>
                                       <a href="" class="text-light dana-regular col-12">
                                            کالا در چه بازه زمانی و چطور ارسال میشود؟
                                       </a>
                                       <a href="" class="text-light dana-regular col-12">
                                            کالا در چه بازه زمانی و چطور ارسال میشود؟
                                       </a>
                                       <a href="" class="text-light dana-regular col-12">
                                            کالا در چه بازه زمانی و چطور ارسال میشود؟
                                       </a>
                                    </div>
                                    <div class="row pt-5">
                                        <div class="col-3">
                                            <img src="./assets/images/footer/makeup.png" class="width100" />
                                            <br />
                                            <a href="" class="text-light">
                                                محصولات
                                            </a>
                                        </div>
                                        <div class="col-3">
                                            <img src="./assets/images/footer/beauty-treatment.png" class="width100" />
                                            <br />
                                            <a href="" class="text-light">
                                                مشاوره رایگان
                                            </a>
                                        </div>
                                        <div class="col-3">
                                            <img src="./assets/images/footer/online-shop.png" class="width100" />
                                            <br />
                                            <a href="" class="text-light">
                                                تخفیفات
                                            </a>
                                        </div>
                                        <div class="col-3">
                                            <img src="./assets/images/footer/lipstick.png" class="width100" />
                                            <br />
                                            <a href="" class="text-light">
                                                محبوبها
                                            </a>
                                        </div>
                                    </div>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--third col-->
            <div class="col-sm-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="btn-group  " style="width:200px;background-color:#0088cc;">
                                <a style="margin:auto;" class="btn col-12 text-center text-light dana-bold ">
                                تلگرام
                                </a>
                                <a class="btn">
                                    <i class="fab fa-telegram-plane text-light fa-3x"></i>
                                </a>
                            </div>
                            <div class="btn-group " style="width:200px;background-color:#bd081c">
                                <a class="btn ">
                                    <i class="fab fa-instagram text-light fa-3x"></i>
                                </a>
                                <a style="margin:auto;" class="btn  col-12 text-center text-light dana-bold">
                                    اینستاگرام
                                </a>
                            </div>
                        </div>
                        <!--second col-->
                        <div class="col-12 p-3">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="width100" style="height:180px;" src="./assets/images/e-nemad.jpg" />
                                    </div>
                                    <div class="col-6">
                                        <img class="width100" style="height:180px;" src="./assets/images/zarinpal.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<div class="container-fluid bg-dark rtl">
    <div class="text-center text-light">
            کلیه حقوق مادی و معنوی محتوای وبسایت طبق قوانین جمهوری اسلامی ایران برای فروشگاه اینترنتی لوناریا محفوظ است.
    </div>
</div>
<!--END Footer-->