{% load static %}
<nav class="navbar navbar-expand-sm rtl bg-white container-fluid sticky-top clearHeader" >

    <!-- Brand/logo -->
    <a class="navbar-brand d-none d-sm-block" href="#">
        <img src="{% static 'front/images/moon.png' %}" style="width:70px;"/>
        <span class="text-warning dana-bold h4">
            لوناریا
        </span>
    </a>

        <form  action="/action_page.php">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar ">
                    <i class="fas fa-search " style="color:gray"></i>
                    <input class="search_input" type="text" name="" placeholder="اسم محصول،برند یا دسته بندی را جستجو کنید">
                    </div>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item d-none d-md-block ">
                <a class="nav-link text-dark dana-regular" style="border:1px solid #e0e0e2;" href="#">
                 <img src="{% static 'front/images/woman.png' %}" style="width:25px;margin-left:10px;" />
                <span style="font-size:16px;">
                    ورود به حساب کاربری
                </span>
                </a>
            </li>
            <li class="nav-item d-none d-md-block ">
                <a class="nav-link text-dark" data-toggle="modal" data-target="#exampleModal1">
                     <img src="{% static 'front/images/cart.png' %}" style="width:25px;margin-left:10px;" />
                </a>
            </li>
        </ul>

</nav>

<nav class="navbar navbar-expand-sm  rtl  navbar-sm bg-white ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="true" aria-label="Toggle navigation">
        <span class="fa fa-bars text-dark "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
    <!-- Links -->
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link text-dark dana-regular text-center" href="#">محصولات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dana-regular text-center" href="#">تخفیفات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dana-regular text-center" href="#">محبوبترینها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dana-regular text-center" href="#">مشاوره خرید</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dana-regular text-center d-md-none" href="#">
                    <img src="./assets/images/woman.png" style="width:25px;margin-left:10px;" />
                </a>
            </li>
             <li class="nav-item">
                <a class="nav-link text-dark dana-regular text-center d-md-none" href="#">
                    <img src="./assets/images/cart.png" style="width:25px;margin-left:10px;" />
                 </a>
            </li>
        </ul>
    </div>
</nav>